.resources {
  height: 40%;
  display: flex;
  justify-content: space-around;
}

.resources .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resources .name {
  color: rgb(0, 205, 204);
  font-size: 28rpx;
}

.divider_vertical {
  width: 1px;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(35, 198, 200, 0.8) 5%,
      rgba(35, 198, 200, 0.8) 10%,
      rgba(35, 198, 200, 0.8) 20%,
      rgba(35, 198, 200, 0.8) 30%,
      rgba(35, 198, 200, 0.8) 40%,
      rgba(35, 198, 200, 0.8) 50%,
      rgba(35, 198, 200, 0.8) 60%,
      rgba(35, 198, 200, 0.8) 70%,
      rgba(35, 198, 200, 0.8) 80%,
      rgba(35, 198, 200, 0.8) 90%,
      rgba(35, 198, 200, 0.8) 95%,
      rgba(0, 0, 0, 0) 100%
  );
}