.wrapper {
	height: calc(100% - var(--status-bar-height));
  background-image: url('@/static/image/home.jpeg');
  background-size: cover;
  padding-top: var(--status-bar-height);
}

.content{
  height: 100%;
  box-sizing: border-box;
}

.header {
  height: 300rpx;
}

.header_userinfo{
  color: springgreen;
  text-align: end;
}
.header_title {
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.main {
  height: calc(90% - 300rpx);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_universe_item{
  color: powderblue;
  background: #0e1313d6;
  display: flex;
  align-items: center;
  height: 140rpx;
  width: 600rpx;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.main_universe_item .icon{
  width: 100rpx;
  height: 100rpx;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  border-radius: 50%;
}
.main_universe_item .title {
  margin-left: 30rpx;
}

.main_universe_item .select {
  margin-left: 90rpx;
}

.main .main_footer {
  display: flex;
  height: 600rpx;
  min-height: 160rpx;
  display: flex;
  align-items: center;
}

.footer{
  height: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.uni-input {
  border-style: solid;
  border-width: 2px;
  position: fixed;
  bottom: 0;
}



.i_popup{
  position: relative;
  width: 600rpx;
  margin: auto;
  top: 40%;
  transform: translateY(-40%);
  background-color: rgba(0, 4, 4, 0.7);
  box-shadow: 0px 0px 3px 0px springgreen inset;
  color: rgb(180, 242, 253);
  padding: 20px;
  box-sizing: border-box;
}
.i_popup_animation_right {
  animation: animation_right 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_right
{
	0%   {right: 0px;}
	100% {right: 750rpx;}
}

.i_popup_animation_right_x {
  animation: animation_right_x 1.3s;
  animation-delay: -1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_right_x
{
	0%   {right: 0px;}
  50%   {right: 750rpx;}
  100%   {right: 0px;}
}

.i_popup_animation_left {
  animation: animation_left 1.3s;
  animation-delay: -1s;
	/* animation-timing-function: linear; */
	animation-fill-mode: forwards;
}

@keyframes animation_left
{
	0%   {left: 0px;}
  50%   {left: 750rpx;}
  100%   {left: 0px;}
}

.i_popup_animation_left_x {
  animation: animation_left_x 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_left_x
{
	0%   {left: 0px;}
	100% {left: 750rpx;}
}

.i_popup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300rpx
}

.i_popup_content .next {
  margin-top: 40rpx;
  width: 368rpx;
}

.i_popup_content_form {
  display: flex;
  align-items: center;
  margin-top: 40rpx;
}
.i_popup_content_form .code {
  letter-spacing: 6rpx;
}

.i_popup_content_form .phone {
  border: 2px solid;
  height: 60rpx;
  text-indent: 20rpx;
}

.i_popup_title {
  text-align: center;
}

.i_popup_mask {
  position: fixed;
  /* inset: 0; 安卓不支持次写法*/
  top: 0; right: 0; bottom: 0; left: 0;
  /* background-color: #73d2d233; 安卓不支持*/
  background-color: rgba(0,4,4,0.7);
  opacity: 0;
  transition: all 0.3s;
}

.i_popup_mask_opacity {
  opacity: 1;
}

.i_transition_mask {
  position: fixed;
  /* inset: 0; 安卓不支持次写法*/
  top: 0; right: 0; bottom: 0; left: 0;
  /* background-color: #73d2d233; 安卓不支持*/
  background-color: rgba(0,4,4);
  opacity: 0;
  transition: all 0.3s;
}

.i_transition_mask_opacity {
  opacity: 0.9;
}
