.wrapper {
	height: calc(100% - var(--status-bar-height));
  background-image: url('@/static/image/home.jpeg');
  background-size: cover;
  padding-top: var(--status-bar-height);
}

.content{
  height: 100%;
  box-sizing: border-box;
}

.header {
  height: 20vh;
}

.header_userinfo{
  color: springgreen;
  text-align: end;
}
.header_title {
  color: rgb(180, 242, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.main {
  height: calc(90% - 20vh);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_universe_item{
  color: rgb(0,205,204);
  background: rgba(0,0,0, 0.5);
  display: flex;
  align-items: center;
  height: 12vh;
  width: 600rpx;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.main_universe_item .icon{
  width: 100rpx;
  height: 100rpx;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  border-radius: 50%;
}
.main_universe_item .title {
  margin-left: 30rpx;
}

.main_universe_item .select {
  margin-left: 90rpx;
}

.main .main_footer {
  display: flex;
  height: 600rpx;
  min-height: 160rpx;
  display: flex;
  align-items: center;
}

.footer{
  height: 10%;
  color: rgb(180, 242, 253);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.i_popup{
  position: fixed;
  height: 460rpx;
  width: 600rpx;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(0,0,0);
  box-shadow: 0px 0px 3px 0px springgreen inset;
  color: rgb(180, 242, 253);
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s;
}

.i_popup_content_opacity {
  opacity: 0.7;
}

.i_popup_title {
  text-align: center;
}
.i_popup_close {
  position: absolute;
  top: 10rpx;
  right: 16rpx;
}

.i_popup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i_popup_content .next {
  margin-top: 40rpx;
  width: 368rpx;
}

.i_popup_content_form {
  display: flex;
  align-items: center;
  margin-top: 40rpx;
  justify-content: space-between;
}
.i_popup_content_form .code {
  letter-spacing: 6rpx;
}

.i_popup_content_form .phone {
  border: 2px solid;
  height: 60rpx;
  text-indent: 20rpx;
}

.i_popup_content_form .sms_code {
  border: 2px solid;
  height: 60rpx;
  text-indent: 20rpx;
  flex-basis: 100rpx;
}

.i_popup_mask {
  position: fixed;
  /* inset: 0; 安卓不支持次写法*/
  top: 0; right: 0; bottom: 0; left: 0;
  /* background-color: #73d2d233; 安卓不支持*/
  background-color: rgba(0,0,0,0);
  transition: all 0.3s;
}

.i_popup_mask_opacity {
  background-color: rgba(0,0,0,0.7);
}

.i_transition_mask {
  position: fixed;
  /* inset: 0; 安卓不支持次写法*/
  top: 0; right: 0; bottom: 0; left: 0;
  /* background-color: #73d2d233; 安卓不支持*/
  background-color: rgba(0,0,0,1);
  transition: all 0.8s;
}

.i_transition_mask_opacity {
  background-color: rgba(0,0,0,0);
}


.login_animation_stepone_next {
  animation: login_stepone_next 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes login_stepone_next
{
	100% {left: -50%;}
}

.login_animation_stepone_back {
  animation: login_stepone_back 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes login_stepone_back
{
  0% {left: -50%;}
  100% {left: 50%;}
}

.login_animation_steptwo_next {
  animation: login_steptwo_next 0.3s;
  animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes login_steptwo_next
{
	100% {left: 50%;}
}

.login_animation_steptwo_back {
  animation: login_steptwo_back 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes login_steptwo_back
{
  0% {left: 50%;}
  100% {left: 150%;}
}