
/*  */
.flex-skeleton-item1 .m-skeleton-fade {
  height: 188rpx;
  background: rgba(47,90,138,0.6);
  animation-duration: 1s;
  animation-name: blink;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-bottom: 8px;
  border-radius: 8px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

<template v-if="swichSubmenuCode==1">
<build-queue/>
<view class="content_left_down_active">
  <view class="text_center font_16">显示器</view>
  <view class="divider"></view>
  <view class="content_left_down_active_list">
    你要记得那些黑暗中默默抱紧你的人，逗你笑的人，陪你彻夜聊天的人，坐车来看望你的人，陪你哭过的人，在医院陪你的人，总是以你为重的人，带着你四处游荡的人，说想念你的人。是这些人组成你生命中一点一滴的温暖，是这些温暖使你远离阴霾，是这些温暖使你成为善良的人。
  </view>
</view>
</template>
<template v-else-if="swichSubmenuCode == 2">
<view class="text_center font_16">基础建造</view>
<view class="divider"></view>
<template v-for="(item, buildCode) in buildings">
  <view @touchstart="touchstart(buildCode)" @touchend="touchend(buildCode)" :style="touchstartStyle.indexOf(buildCode) != -1 ? 'background-color: rgba(253,72,72,0.4)':''" class="content_left_down_build_list" :key="buildCode">
    <view class="item_up">
      <image @tap="openDetailPopup(item)" src="../../static/image/24.gif"/>
      <view class="info">
        <view class="font_14">{{ item.name }} {{ item.level }}</view>
        <view class="font_12">{{ item.buildTimeShow }}</view>
      </view>
      <template v-if="item.requeriment.isReq">
        <template v-if="buildingBuildQueue.length === 0">
          <view class="i-button" @tap="addBuildingQueue({buildCode})">升级</view>
        </template>
        <template v-else-if="buildingBuildQueue.length < 5">
          <view class="i-button" @tap="addBuildingQueue({buildCode})">加入</view>
        </template>
        <template v-else>
          <view class="i-no-button">升级</view>
        </template>
      </template>
      <template v-else>
        <view class="i-button" @tap="openReqPopup(item.requeriment)">查看</view>
      </template>
    </view>
    <view class="item_down">
      <view><text>金属：</text>{{ item.metal | numberToCurrency }} <text>晶体：</text>{{ item.crystal | numberToCurrency }} <text>重氦：</text>{{ item.deuterium | numberToCurrency }}</view>
    </view>
  </view>
  <view class="divider" :key="item.id"></view>
</template>
</template>
<template v-else-if="swichSubmenuCode==3">
<view class="text_center font_16">科技研究</view>
<view class="divider"></view>
<template v-for="(item, buildCode) in researchs" >
  <view @touchstart="touchstart(buildCode)" @touchend="touchend(buildCode)" :style="touchstartStyle.indexOf(buildCode) != -1 ? 'background-color: rgba(253,72,72,0.4)':''" class="content_left_down_build_list" :key="buildCode">
    <view class="item_up">
      <image @tap="openDetailPopup(item)" src="../../static/image/24.gif"/>
      <view class="info">
        <view class="font_14">{{ item.name }} {{ item.level }}</view>
        <view class="font_12">{{ item.buildTimeShow }}</view>
      </view>
      <template v-if="item.requeriment.isReq">
        <template v-if="researchBuildQueue.length > 0">
          <view class="i-no-button">升级</view>
        </template>
        <template v-else>
          <view class="i-button" @tap="addResearchQueue({buildCode})">升级</view>
        </template>
      </template>
      <template v-else>
        <view class="i-button" @tap="openReqPopup(item.requeriment)">查看</view>
      </template>
    </view>
    <view class="item_down">
      <view><text>金属：</text>{{ item.metal | numberToCurrency }} <text>晶体：</text>{{ item.crystal | numberToCurrency }} <text>重氦：</text>{{ item.deuterium | numberToCurrency }}</view>
    </view>
  </view>
  <view class="divider" :key="item.id"></view>
</template>
</template>
<template v-else-if="swichSubmenuCode==4">
船厂
</template>
<template v-else-if="swichSubmenuCode==5">
防御
</template>