page {
	height: calc(100% - var(--status-bar-height));
}

.content {
	height: 100vh;
  background-image: url('../../static/b.jpeg');
  background-size: cover;
  padding-top: var(--status-bar-height);
}

.status_bar{
  height: var(--status-bar-height);
  width: 750rpx;
  position: fixed;
  top: 0;
  background-color: rgba(32, 58, 87, 0.6);
}
.status_bar .list {
  float:right;
  margin-right: 20rpx;
}

.flex-row{
	height: 100vh;
	display: flex;
}

.flex-row-item1{
	height: 100vh;
  width: 620rpx
}

.flex-row-item2{
	height: 100vh;
  width: 130rpx;
}

.flex-column1{
	height: 100vh;
	flex-direction: column;
}

.flex-column1-item1{
  height: 400rpx;
  background-color: rgba(32, 58, 87, 0.6);
  padding: 7px;
  box-sizing: border-box;
  color: lightpink;
  font-size: 32rpx;
}

.flex-column1-item1 text{
  color: rgb(180, 242, 253);
  font-size: 32rpx;
}

.flex-column1-item2{
  padding: 10px;
  height: calc(100vh - 400rpx);
  background-color: rgba(32, 58, 87, 0.8);
  box-sizing: border-box;
  color: rgb(180, 242, 253);
}

.flex-column1-item2 .scroll-Y {
  height: 100%;
}

.flex-column1-item2 .flex-item{
  flex-direction: column;
  height: 188rpx;
  padding: 7px 7px 0px 7px;
  box-sizing: border-box;
  background-color: rgba(10, 32, 58, 0.5);
  margin-bottom: 8px;
}

.flex-column1-item2 .flex-item .flex-item1{
  display: flex;
  height: 104rpx;
  margin-bottom: 3px;
}

.flex-column1-item2 .flex-item .flex-item1 .img image{
  width: 100rpx;
  height: 100rpx;
}

.flex-column1-item2 .flex-item .flex-item1 .text{
  width: 360rpx;
  padding-left: 8px;
}

.flex-column1-item2 .flex-item .flex-item1 .text .small{
  font-size: 28rpx;
}

.flex-column1-item2 .flex-item .flex-item1 .text .name{
  font-size: 37.5rpx;
}

.flex-column1-item2 .flex-item .flex-item2{
  height: 50rpx;
  font-size: 26rpx;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  color: springgreen;
}


.flex-column2{
	height: 100vh;
	flex-direction: column;
}

.flex-column2-item1{
  text-align: center;
  height: 400rpx;
  background-color: rgba(32, 58, 87, 0.6);
  padding: 7px;
}
.flex-column2-item2{
  /* padding: 0px 10px 10px 10px; */
  height: calc(100vh - 400rpx);
  background-color: rgb(47 90 138 / 61%);
  box-sizing: border-box;
  color: rgb(180, 242, 253);
}
.flex-column2-item2 .item{
  font-weight: bold;
  text-align: center;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-tips {
  top: 0;
  height: 30px;
  background-color: rgba(32, 58, 87, 0.6);
}