page {
	height: calc(100% - var(--status-bar-height));
}

.content {
  /* width: 750rpx; */
	height: 100%;
  background-image: url('../../static/b.jpeg');
  background-size: cover;
  /* background-repeat: no-repeat; */
  padding-top: var(--status-bar-height);
}

.status_bar{
  height: var(--status-bar-height);
  width: 750rpx;
  position: fixed;
  top: 0;
  background-color: rgba(32, 58, 87, 0.6);
  /* background: brown; */
}

.flex-row{
	height: 100%;
	display: flex;
}

.flex-row-item1{
	height: 100%;
  width: 620rpx
}

.flex-row-item2{
	height: 100%;
  width: 130rpx;
}

.flex-column1{
	height: 100%;
	flex-direction: column;
}

.flex-column1-item1{
  height: 400rpx;
  background-color: rgba(32, 58, 87, 0.6);
  padding: 7px;
  box-sizing: border-box;
  color: lightpink;
  font-size: 36rpx;
}

.flex-column1-item1 text{
  color: rgb(180, 242, 253);
  font-size: 36rpx;
}

.flex-column1-item2{
  padding: 10px;
  height: calc(100% - 400rpx);
  background-color: rgba(32, 58, 87, 0.8);
  box-sizing: border-box;
  color: rgb(180, 242, 253);
}

.flex-column2{
	height: 100%;
	flex-direction: column;
}

.flex-column2-item1{
  text-align: center;
  height: 400rpx;
  background-color: rgba(32, 58, 87, 0.6);
  padding: 7px;
}
.flex-column2-item2{
  height: calc(100% - 400rpx);
  background-color: rgba(32, 58, 87, 0.6);
}


.flex-column1-item2 .flex-item{
  flex-direction: column;
  height: 180rpx;
  padding: 7px 7px 0px 7px;
  box-sizing: border-box;
  background-color: rgba(10, 32, 58, 0.5);
  margin-bottom: 8px;
}

.flex-column1-item2 .flex-item .flex-item1{
  display: flex;
  height: 104rpx;
  margin-bottom: 3px;
}

.flex-column1-item2 .flex-item .flex-item1 .img image{
  width: 100rpx;
  height: 100rpx;
}

.flex-column1-item2 .flex-item .flex-item1 .text{
  width: 320rpx;
  padding-left: 8px;
}

.flex-column1-item2 .flex-item .flex-item1 .text .small{
  font-size: 28rpx;
}

.flex-column1-item2 .flex-item .flex-item1 .text .name{
  font-size: 37.5rpx;
}
/* 
.flex-column1-item2 .flex-item .flex-item1 .button button{
  color:cyan;
  font-size: 16rpx;
} */

.flex-column1-item2 .flex-item .flex-item2{
  height: 50rpx;
  font-size: 26rpx;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  color: rgb(20, 161, 79);
}



.scroll-Y {
  height: 100%;
}

.head-style {
  color: red;
  padding-bottom: 10px;
}
.u-tips {
  top: 0;
  height: 30px;
  background-color: rgba(32, 58, 87, 0.6);
}
/* .u-drawer-content-visible{
  background: rgba(32, 58, 87, 0.8);

} */
.content1 {
  padding: 24rpx;
  text-align: center;
  height: 100%;
  /* background: rgba(32, 58, 87, 0.8); */
}
.u-drawer-right {
  background-color: rgba(32, 58, 87, 0.8);
}