.wrapper {
	height: calc(100% - var(--status-bar-height));
  /* background-image: url('@/static/image/b.jpeg'); */
  background-image: url('@/static/image/home.jpeg');
  background-size: cover;
  padding-top: var(--status-bar-height);
}

.status_bar{
  height: var(--status-bar-height);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(32, 58, 87, 0.6);
}

.content{
	height: 100%;
	display: flex;
}

.content_left{
	height: 100%;
  width: 85%;
}

.content_right{
	height: 100%;
  width: 15%;
}

.content_left_up {
  height: 400rpx;
  background-color: rgba(32, 58, 87, 0.6);
  padding-left: 7px;
  box-sizing: border-box;
  color: rgb(180, 242, 253);
  font-size: 28rpx;
}

.content_left_down {
  padding: 10px;
  height: calc(100% - 400rpx);
  background-color: rgba(32, 58, 87, 0.8);
  box-sizing: border-box;
  color: rgb(180, 242, 253);
}

.content_left_down_head{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.content_left_down_active{
  margin-top: 10px;
  padding: 0 7px 0px 7px;
}

.content_right_up{
  height: 400rpx;
  background-color: rgba(32, 58, 87, 0.6);
  padding-left: 16rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.content_right_up .planet_icon{
  width: 80rpx;
  height: 80rpx;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  border-radius: 50%;
}

.content_right_up_planet_info {
  line-height: 36rpx;
  color: springgreen;
  font-size: 28rpx;
  writing-mode: vertical-lr;
  margin-top:20rpx;
  letter-spacing: 4rpx;
  word-break: keep-all;
  display: flex;
  padding-bottom: 4rpx;
}

.content_right_up_planet_info .planet_name {
  max-height: 252rpx;
  overflow: hidden;
}

.content_right_up_planet_info .planet_name view:nth-child(2) {
  text-indent: 4rpx;
}
.content_right_up_planet_info .planet_arrow {
  margin-top: 12rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content_right_up_planet_info .arrow{
  display: inline-block;
  width: 16rpx;
  height: 16rpx;
  border-top: 4rpx solid springgreen;
  border-right: 4rpx solid springgreen;
}

.content_right_up_planet_info .arrow_left {
  transform: rotate(-135deg);
}
.content_right_up_planet_info .arrow_right {
  transform: rotate(45deg);
}

.planet_select_list {
  position: fixed;
  top: var(--status-bar-height);
  right: 110rpx;
  bottom: 0;
  background-color: rgb(0,0,0);
  box-shadow: 0px 0px 3px 0px springgreen inset;
  height: 392rpx;
  width: 0rpx;
  opacity: 0;
  transition:all 0.5s;
}

.planet_select_list_show {
  width: 640rpx;
  opacity: 0.7;
}
.planet_select_list_item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet_select_list_item .item{
  line-height: 36rpx;
  color: springgreen;
  font-size: 28rpx;
  writing-mode: vertical-lr;
  letter-spacing: 4rpx;
  word-break: keep-all;
  overflow: hidden;
  height: 95%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.planet_select_list_item .planet_icon{
  width: 60rpx;
  height: 60rpx;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  border-radius: 50%;
  position: absolute;
}

.planet_select_list_item .planet_name {
  padding-top: 76rpx;
  height: 95%;
  box-sizing: border-box;
  overflow: hidden;
}

.planet_select_list_item .planet_name view:nth-child(2) {
  text-indent: 4rpx;
}


.planet_select_list_item .arrow{
  display: inline-block;
  width: 16rpx;
  height: 16rpx;
  border-top: 4rpx solid springgreen;
  border-right: 4rpx solid springgreen;
}

.planet_select_list_item .arrow_down {
  transform: rotate(135deg);
}


.content_right_down{
  height: calc(100% - 400rpx);
  background-color: rgba(47,90,138,0.6);
  box-sizing: border-box;
  color: rgb(180, 242, 253);
}

.content_right_down .submenu{
  font-size: 28rpx;
  text-align: center;
  height: 76rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_right_down .submen_activity{
  background-color: rgba(45,190,216,0.15);
}

.content_right_down .ripple {
  position: relative;
  overflow: hidden;
}

.content_right_down .ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgb(0,205,204) 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .6s;
}

.content_right_down .ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}


.i_transition_mask {
  position: fixed;
  /* inset: 0; 安卓不支持次写法*/
  top: 0; right: 0; bottom: 0; left: 0;
  /* background-color: #73d2d233; 安卓不支持*/
  background-color: rgba(0,0,0,1);
  transition: all 1s;
}

.i_transition_mask_opacity {
  background-color: rgba(0,0,0,0);
}

