
.main_console_queue_list{
  padding: 0 7px 0px 7px;
}
.main_console_queue_list > .item{
  display: flex;
  align-items: center;
}
.main_console_queue_list > .item > .i_button{
  margin-left: 30rpx;
  align-self: flex-end;
}

.main_console_queue_list .i-progress{
  width: 460rpx;
  display: flex;
  align-items: center;
}

/* 进度条 */

.i-progress {
  width: 100%;
  height: 32rpx;
  background-color: rgb(180, 242, 253);
  overflow: hidden;
}

.i-progress .i-striped-active, .i-no-active{
  align-items: center;
  justify-content: space-around;
  font-size: 24rpx;
  color: rgb(180, 242, 253);
}

.i-progress .i-striped-active{
  height: 100%;
  background-color: rgb(45,184,172);
  transition: all 0.4s ease;
}

.i-progress .i-no-active{
  display: flex;
  width: 100%;
  background-color: rgb(48,121,158);
}

.i-striped-active + view{
  width: 200rpx;
  position: absolute;
  left: 50%;
  margin-left: -50rpx;
  color: #000;
  display: flex;
  justify-content: center;
}

.i-striped-active {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 39px 39px;
  animation: progress-stripes 2s linear infinite;
}

@keyframes progress-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 39px 0;
  }
}
  