.wrapper {
	height: calc(100% - var(--status-bar-height));
  padding-top: var(--status-bar-height);
  background-image: url('@/static/image/IMG_5223.png');
  background-size: cover;
}

.status_bar{
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--status-bar-height);
  background: rgba(0,0,0,0.3);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px 0px 0px 5px;
  color: rgb(180, 242, 253);
}

.header .header_back {
  flex: 1;
}

.header .galaxy_form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex: 3;
  width: 240rpx;
}

.header .galaxy_form input {
  flex-basis: 100rpx;
  border: 1px solid;
  text-indent: 12rpx;
}

.header .galaxy_form .space_jump_button { 
  height: 50rpx;
  padding-left: 16rpx;
  padding-right: 16rpx;
  border: 1px rgba(144,238,144,0.7) solid;
  line-height: 50rpx;
  text-align: center;
  color: springgreen;
  background: rgba(32,178,170,0.7);
  animation: space_jump_button 1.5s infinite;
}

.header .galaxy_form .space_jump_button:active{
  background: lightslategrey;
}

@keyframes space_jump_button {  
  0% {  box-shadow: 0 0 0 0 rgba(255,255,255,0.4);   }  
  100% {  box-shadow: 0 0 0 20px rgba(255,255,255,0);   } 
}

.main {
  height: 85%;
}

.main_table {
  display: table;
  height: 98%;
  max-width: 200%;
  min-width: 100%;
  text-align: center;
  white-space: nowrap;
}

.main_table .cell {
  display: table-cell;
  border: 4rpx solid rgba(255,255,255,0);
  vertical-align: middle;
}

.main_table .row_head {
  font-weight: bold;
}

.main_table .row_head, .row_body {
  display: table-row;
  border: 1px solid rgba(255,255,255,0);
}

.main_table .row_head .cell > view{
  width: 100%;
  height: 3.5vh;
  font-size: 14px;
  color: aqua;
  background-color: rgba(119,136,153,0.8);
}

.main_table .cell > view{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5vh;
  border: 0px #000000 solid;
  font-size: 14px;
  text-indent: 2px;
  color: rgb(180, 242, 253);
  background-color: rgba(32,178,170,0.4);
}
.main_table .row_head .cell:last-child {
 position: sticky;
 right: 0px;
}

.main_table .row_head .cell:last-child  > view {
  background-color: rgba(119,136,153,0.8);
 }

.main_table .row_body .cell:last-child {
  position: sticky;
  right: 0px;
 }

.main_table .row_body .cell:last-child > view{
  color: springgreen;
  background-color: rgba(240,128,128,0.8);
 }

.main_table .row_head .cell:first-child {
  position: sticky;
  left: 0px;
 }

.main_table .row_head .cell:first-child > view{
  background-color: rgba(119,136,153,0.8);
 }

.main_table .row_body .cell:first-child {
   position: sticky;
   left: 0px;
  }

.main_table .row_body .cell:first-child > view {
  color: blueviolet;
  background-color: rgba(144,238,144,0.8);
 }

 .main_table .icon{
  height: 3vh;
  width: 3vh;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes control_animated {  
  0% {  box-shadow: 0 0 0 0 rgba(255,255,255,0.4);   }  
  100% {  box-shadow: 0 0 0 20px rgba(255,255,255,0);   } 
} 


.footer .control { 
  z-index: 10;
  width: 120rpx;
  height: 120rpx;
  border: 2px solid;
  border-radius: 50%;
  line-height: 120rpx;
  text-align: center;
  color: lightcoral;
  animation: control_animated 1.5s infinite;
}

.footer .arrow {
  display: inline-block;
  width: 60rpx;
  height: 60rpx;
  border-top: 16rpx solid rgba(135,206,250,0.7);
  border-right: 16rpx solid rgba(135,206,250,0.7);
}

.footer .arrow_up {
  transform: rotate(-45deg);
}

.footer .arrow_down {
  transform: rotate(135deg);
}

.footer .arrow_left1 {
  transform: rotate(-135deg);
}

.footer .arrow_right1 {
  transform: rotate(45deg);
}

.footer .arrow_left2 {
  transform: translateX(-20rpx) rotate(-135deg);
}

.footer .arrow_right2 {
  transform: translateX(20rpx) rotate(45deg);
}




.misson_menu {
	position: fixed;
  bottom: 0;
	z-index: 10;
	width: 636rpx;
	height: 648rpx;
	border-radius: 50%;
	opacity: 0;
	transition: all .3s ease 0.3s;
	transform: scale(0.1);
}

.misson_menu .menu {
	position: relative
}


 .misson_menu .menu .item {
	position: absolute;
	left: 50%;
	overflow: hidden;
	margin-top: -40rpx;
  margin-left: -360rpx;
  width: 360rpx;
  height: 360rpx;
	transition: all .3s ease;
	transform: rotate(77deg) skew(65deg);
	transform-origin: 100% 100%;
}

 .misson_menu .menu .item div {
	position: absolute;
	right: -320rpx;
	bottom: -320rpx;
	display: block;
	width: 636rpx;
	height: 636rpx;
	border-radius: 50%;
  color: rgb(180, 242, 253);
	text-align: center;
	text-decoration: none;
	line-height: 2;
  background: rgba(32,178,170,0.8);
	background: radial-gradient(transparent 45%, rgba(32,178,170,0.8) 35%);
	transform: skew(-65deg) rotate(-77deg) scale(1);
	backface-visibility: hidden;
}

 .misson_menu .menu .item div span {
	position: relative;
	top: 32rpx;
	font-size: 28rpx;
	font-weight: 700;
	text-transform: uppercase;
}

 .misson_menu .menu .item div:active {
	background: radial-gradient(transparent 45%, rgba(253,72,72,0.4) 35%);
}

.opened_misson_menu {
	border-radius: 50%;
	opacity: 1;
	transition: all .3s ease;
	transform: scale(1);
}

 .opened_misson_menu .menu .item {
	transition: all .3s ease .3s;
}

 .opened_misson_menu .menu .item:first-child {
	transform: rotate(-31deg) skew(65deg);
}

 .opened_misson_menu .menu .item:nth-child(2) {
	transform: rotate(-4deg) skew(65deg);
}

 .opened_misson_menu  .menu .item:nth-child(3) {
	transform: rotate(23deg) skew(65deg);
}

 .opened_misson_menu .menu .item:nth-child(4) {
	transform: rotate(50deg) skew(65deg);
}

 .opened_misson_menu .menu .item:nth-child(5) {
	transform: rotate(77deg) skew(65deg);
}

 .opened_misson_menu .menu .item:nth-child(6) {
	transform: rotate(104deg) skew(65deg);
}

 .opened_misson_menu .menu .item:nth-child(7) {
	transform: rotate(131deg) skew(65deg);
}
.opened_misson_menu .menu .item:nth-child(8) {
	transform: rotate(158deg) skew(65deg);
}
.opened_misson_menu .menu .item:nth-child(9) {
	transform: rotate(185deg) skew(65deg);
}

.misson_menu_mask {
  z-index: 9;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s;
}

.misson_menu_mask_opacity {
  background-color: rgba(0,0,0, 0.9);
}

.misson_content {
  position: absolute;
  z-index: 999;
  top: 0; right: 0; bottom: 0; left: 0;
  padding-top: var(--status-bar-height);
  color: #76deef;
}



.misson_content .misson_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 6vh;
}

.misson_content .misson_main {
  padding: 20rpx;
  font-size: 14px;
}

.misson_main_style {
  margin-bottom: 3vh;
}

.misson_main_style .label {
  margin-bottom: 2vh;
  font-size: 16px;
  text-align: center;
}

.misson_main_style > view:nth-child(2) {
  border-top: 1px solid rgba(119,136,153,0.6);
}

.misson_main_style .item {
  display: flex;
  height: 4vh;
  border-bottom: 1px solid rgba(119,136,153,0.6);
  line-height: 4vh;
  text-align: center;
}

.misson_main_style .item .name {
  flex: 1;
  border-right: 1px solid rgba(119,136,153,0.6);
}

.misson_main_style .item .form {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  align-items: center;
}

.misson_main_fleet .item .form input{
  height: 4vh;
  width: 70%;
}
.misson_main_fleet .item .form view{
  width: 30%;
  color: springgreen
}
.misson_main_info .item .form input {
  height: 72%;
  min-height: 72%;
  flex-basis: 100rpx;
  border: 1px solid;
  text-indent: 12rpx;
}

.misson_main_info .item .form view{
  width: 90%;
  color: springgreen;
} 

.misson_main_info .item .form .planetType {
  display: flex;
  align-items: center;
  width: 80%;
  height: 70%;
  border: 2px solid rgb(45,184,172);
  border-left: 5px solid rgb(45,184,172);
  border-right: 5px solid rgb(45,184,172);
}

.misson_main_info .item .form .planetType view{
  color: lightslategrey;
}

.misson_main_info .item .form .planetType .planet_type_on{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  margin-left: -2px;
  color: rgb(180, 242, 253);
  background: rgb(45,184,172);
}

.misson_main_info .item .form .speed {
  display: flex;
  width: 85%;
  height: 75%;
}
.misson_main_info .item .form .speed view{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(180, 242, 253);
}
.misson_main_info .item .form .speed .speed_on{
  background: rgb(45,184,172);
}

.misson_main_resource .item .form input{
  height: 4vh;
  width: 70%;
}
.misson_main_resource .item .form view{
  width: 30%;
  color: springgreen
}

.misson_footer .misson_btn {
  display: flex;
  justify-content: space-evenly;
}

.misson_footer .misson_btn .i_button_xx{
  width: 40%; 
}


.misson_main_mask {
  z-index: 99;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s;
}

.misson_main_mask_opacity {
  background-color: rgba(0,0,0, 0.9);
}