@font-face {
  font-family: ZpixReviewLocal;
  src: url(./static/fonts/zpix.woff2);
}

/* @font-face {
  font-family: ZpixReviewOnline;
  src: url(https://zpix.now.sh/zpix.woff2?v2021-03-21);
} */

page {
  font-family: ZpixReviewLocal, ZpixReviewOnline, sans-serif;
  -webkit-font-smoothing: none;
  font-feature-settings: 'tnum';
  line-height: 1.6;
	height: 100%;
  font-size: 24rpx;
}

/* 一个大坑，ios上scroll里面的定位无效，就因为这个属性 */
.uni-scroll-view{
  -webkit-overflow-scrolling: auto
}


.font_12 {
  font-size: 24rpx;
}
.font_14 {
  font-size: 28rpx;
}
.font_16 {
  font-size: 32rpx;
}
.font_18 {
  font-size: 36rpx;
}
.font_20 {
  font-size: 40rpx;
}
.font_24 {
  font-size: 48rpx;
}
.color_springgreen{
  color: springgreen;
}

.text_center {
  text-align: center;
}


.i_button {
  background: rgb(45,184,172);
  width: 90rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(180, 242, 253);
}

.i_no_button{
  background: rgb(151,174,22);
  width: 90rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(180, 242, 253);
}


.i_button_x {
  background: rgb(45,184,172);
  width: 90rpx;
  height: 44rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(180, 242, 253);
}

.i_no_button_x{
  background: rgb(151,174,22);
  width: 90rpx;
  height: 44rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(180, 242, 253);
  transition: all 1s;
}

/* .i_button_x:active{
  background: rgba(45,184,172,0.3);
  transition: all 0.3s;
}

.i_button_x:active::before {
  transition: all 1s;
  background: rgba(45,184,172,1);
} */


.divider {
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  background:linear-gradient(
    to right, 
    rgba(0,0,0,0) 0%, 
    rgba(35,198,200,0.8) 5%, 
    rgba(35,198,200,0.8) 10%, 
    rgba(35,198,200,0.8) 20%, 
    rgba(35,198,200,0.8) 30%, 
    rgba(35,198,200,0.8) 40%, 
    rgba(35,198,200,0.8) 50%,
    rgba(35,198,200,0.8) 60%, 
    rgba(35,198,200,0.8) 70%, 
    rgba(35,198,200,0.8) 80%, 
    rgba(35,198,200,0.8) 90%, 
    rgba(35,198,200,0.8) 95%, 
    rgba(0,0,0,0) 100%)
}

.divider_vertical {
  width: 1px;
  height: 94%;
  /* width: 45px; */
  background: linear-gradient( to top, 
   rgba(0,0,0,0) 0%,
   rgba(35,198,200,0.8) 5%, 
   rgba(35,198,200,0.8) 10%, 
   rgba(35,198,200,0.8) 20%, 
   rgba(35,198,200,0.8) 30%, 
   rgba(35,198,200,0.8) 40%, 
   rgba(35,198,200,0.8) 50%, 
   rgba(35,198,200,0.8) 60%,
   rgba(35,198,200,0.8) 70%,
   rgba(35,198,200,0.8) 80%,
   rgba(35,198,200,0.8) 90%,
   rgba(35,198,200,0.8) 95%,
   rgba(0,0,0,0) 100%);
}
